* {
  color: #5e5952;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.75px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

select {
  -webkit-appearance: none;
  background-image: url('./img/select.svg');
  background-position: 92.5% center;
  background-repeat: no-repeat;
  background-size: 17.5%;
  margin-left: -60px;
  min-width: 120px;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main section {
  display: none;
}

main section p {
  font-size: 2em;
  text-align: center;
}

main nav {
  bottom: 30px;
  display: flex;
  flex-direction: row;
  left: 50%;
  margin-left: -92px;
  position: absolute;
  width: 184px;
}

main nav a {
  display: block;
  flex: 1;
  padding: 10px;
  z-index: 10;
}

.show {
  display: initial;
}
